<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jojoldu.book.springboot.dao.UserMapper">
    <select id="getUserList" resultType="com.jojoldu.book.springboot.domain.user.UserVO">
        SELECT * FROM user_tmp
    </select>
</mapper>