{{>layout/header}}

    <div class="container-fluid tm-content-container">
        <ul class="cd-hero-slider mb-0 py-5">
            <li class="px-3" data-page-no="1">
                <div class="page-width-1 page-left">
                    <div class="d-flex position-relative tm-border-top tm-border-bottom intro-container">
                        <div class="intro-left tm-bg-dark" style="width:100%">
                            <h2 class="mb-4">2022/2023 EPL 순위</h2>
                            <table summary="팀 순위" cellspacing="0" style="width:95%">
                                <colgroup>
                                    <col width="45">
                                    <col width="*">
                                    <col width="80">
                                    <col width="80">
                                    <col width="80">
                                    <col width="80">
                                    <col width="80">
                                    <col width="80">
                                    <col width="80">
                                    <col width="80">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th scope="col">
                                        <div class="inner">
                                            <strong>순위</strong>
                                        </div>
                                    </th>
                                    <th scope="col" class="align_l">
                                        <div class="inner">
                                            <strong>팀</strong>
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div class="inner">
                                            <strong>경기수</strong>
                                        </div>
                                    </th>
                                    <!-- [D] 선택된 카테고리 활성화 강조 테두리 selected 클래스 추가 -->
                                    <th scope="col" class="selected">
                                        <a href="javascript:wfootballTeamRecordSortByColumn('gainPoint');" class="inner">
                                            <strong class="sort">승점</strong>
                                        </a>
                                    </th>
                                    <th scope="col">
                                        <a href="javascript:wfootballTeamRecordSortByColumn('won', 'lost', 'manyFew');" class="inner">
                                            <strong class="sort">승</strong>
                                        </a>
                                    </th>
                                    <th scope="col">
                                        <a href="javascript:wfootballTeamRecordSortByColumn('drawn', 'lost', 'manyFew');" class="inner">
                                            <strong class="sort">무</strong>
                                        </a>
                                    </th>
                                    <th scope="col">
                                        <a href="javascript:wfootballTeamRecordSortByColumn('lost', 'won', 'manyFew');" class="inner">
                                            <strong class="sort">패</strong>
                                        </a>
                                    </th>
                                    <th scope="col">
                                        <a href="javascript:wfootballTeamRecordSortByColumn('gainGoal', 'loseGoal', 'manyFew');" class="inner">
                                            <strong class="sort">득점</strong>
                                        </a>
                                    </th>
                                    <th scope="col">
                                        <a href="javascript:wfootballTeamRecordSortByColumn('loseGoal', 'gainGoal', 'manyFew');" class="inner">
                                            <strong class="sort">실점</strong>
                                        </a>
                                    </th>
                                    <th scope="col">
                                        <a href="javascript:wfootballTeamRecordSortByColumn('goalGap', 'gainGoal', 'manyMany');" class="inner">
                                            <strong class="sort">득실차</strong>
                                        </a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <!-- [D] 상위랭크는 best 클래스 추가 -->
                                    <td class="num best">
                                        <div class="inner champsLeague">
                                            <strong>1</strong>
                                            <span class="state_bar1"><span class="blind">챔피언스 리그 직행</span></span>
                                        </div>
                                    </td>
                                    <td class="align_l">
                                        <div class="inner">
                                            <span class="name">아스널 FC</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>13</span>
                                        </div>
                                    </td>
                                    <!-- [D] 선택된 카테고리 활성화 강조 테두리 selected 클래스 추가 -->
                                    <td class="selected">
                                        <div class="inner">
                                            <span>34</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>11</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>1</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>1</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>31</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>11</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>20</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- [D] 상위랭크는 best 클래스 추가 -->
                                    <td class="num ">
                                        <div class="inner champsLeague">
                                            <strong>2</strong>
                                            <span class="state_bar1"><span class="blind">챔피언스 리그 직행</span></span>
                                        </div>
                                    </td>
                                    <td class="align_l">
                                        <div class="inner">
                                            <span class="name">맨체스터 시티 FC</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>13</span>
                                        </div>
                                    </td>
                                    <!-- [D] 선택된 카테고리 활성화 강조 테두리 selected 클래스 추가 -->
                                    <td class="selected">
                                        <div class="inner">
                                            <span>32</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>10</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>2</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>1</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>39</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>12</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>27</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- [D] 상위랭크는 best 클래스 추가 -->
                                    <td class="num ">
                                        <div class="inner champsLeague">
                                            <strong>3</strong>

                                            <span class="state_bar1"><span class="blind">챔피언스 리그 직행</span></span>

                                        </div>
                                    </td>
                                    <td class="align_l">
                                        <div class="inner">
                                            <span class="name">뉴캐슬 유나이티드 FC</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>14</span>
                                        </div>
                                    </td>
                                    <!-- [D] 선택된 카테고리 활성화 강조 테두리 selected 클래스 추가 -->
                                    <td class="selected">
                                        <div class="inner">
                                            <span>27</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>7</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>6</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>1</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>28</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>11</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>17</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- [D] 상위랭크는 best 클래스 추가 -->
                                    <td class="num ">
                                        <div class="inner champsLeague">
                                            <strong>4</strong>

                                            <span class="state_bar1"><span class="blind">챔피언스 리그 직행</span></span>

                                        </div>
                                    </td>
                                    <td class="align_l">
                                        <div class="inner">
                                            <span class="name">토트넘 홋스퍼 FC</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>14</span>
                                        </div>
                                    </td>
                                    <!-- [D] 선택된 카테고리 활성화 강조 테두리 selected 클래스 추가 -->
                                    <td class="selected">
                                        <div class="inner">
                                            <span>26</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>8</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>2</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>4</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>27</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>18</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>9</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- [D] 상위랭크는 best 클래스 추가 -->
                                    <td class="num ">
                                        <div class="inner europaLeague">
                                            <strong>5</strong>

                                            <span class="state_bar3"><span class="blind">유로파 리그</span></span>

                                        </div>
                                    </td>
                                    <td class="align_l">
                                        <div class="inner">
                                            <span class="name">맨체스터 유나이티드 FC</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>13</span>
                                        </div>
                                    </td>
                                    <!-- [D] 선택된 카테고리 활성화 강조 테두리 selected 클래스 추가 -->
                                    <td class="selected">
                                        <div class="inner">
                                            <span>23</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>7</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>2</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>4</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>18</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>19</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>-1</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- [D] 상위랭크는 best 클래스 추가 -->
                                    <td class="num ">
                                        <div class="inner europaLeague">
                                            <strong>6</strong>

                                            <span class="state_bar3"><span class="blind">유로파 리그</span></span>

                                        </div>
                                    </td>
                                    <td class="align_l">
                                        <div class="inner">
                                            <span class="name">브라이튼 앤 호브 알비온 FC</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>13</span>
                                        </div>
                                    </td>
                                    <!-- [D] 선택된 카테고리 활성화 강조 테두리 selected 클래스 추가 -->
                                    <td class="selected">
                                        <div class="inner">
                                            <span>21</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>6</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>3</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>4</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>22</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>17</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>5</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- [D] 상위랭크는 best 클래스 추가 -->
                                    <td class="num ">
                                        <div class="inner normal">
                                            <strong>7</strong>


                                        </div>
                                    </td>
                                    <td class="align_l">
                                        <div class="inner">
                                            <span class="name">첼시 FC</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>13</span>
                                        </div>
                                    </td>
                                    <!-- [D] 선택된 카테고리 활성화 강조 테두리 selected 클래스 추가 -->
                                    <td class="selected">
                                        <div class="inner">
                                            <span>21</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>6</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>3</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>4</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>17</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>16</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>1</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- [D] 상위랭크는 best 클래스 추가 -->
                                    <td class="num ">
                                        <div class="inner normal">
                                            <strong>8</strong>


                                        </div>
                                    </td>
                                    <td class="align_l">
                                        <div class="inner">
                                            <span class="name">리버풀 FC</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>13</span>
                                        </div>
                                    </td>
                                    <!-- [D] 선택된 카테고리 활성화 강조 테두리 selected 클래스 추가 -->
                                    <td class="selected">
                                        <div class="inner">
                                            <span>19</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>5</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>4</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>4</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>25</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>16</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>9</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- [D] 상위랭크는 best 클래스 추가 -->
                                    <td class="num ">
                                        <div class="inner normal">
                                            <strong>9</strong>


                                        </div>
                                    </td>
                                    <td class="align_l">
                                        <div class="inner">
                                            <span class="name">풀럼 FC</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>14</span>
                                        </div>
                                    </td>
                                    <!-- [D] 선택된 카테고리 활성화 강조 테두리 selected 클래스 추가 -->
                                    <td class="selected">
                                        <div class="inner">
                                            <span>19</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>5</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>4</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>5</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>23</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>24</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>-1</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- [D] 상위랭크는 best 클래스 추가 -->
                                    <td class="num ">
                                        <div class="inner normal">
                                            <strong>10</strong>


                                        </div>
                                    </td>
                                    <td class="align_l">
                                        <div class="inner">
                                            <span class="name">크리스탈 팰리스 FC</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>13</span>
                                        </div>
                                    </td>
                                    <!-- [D] 선택된 카테고리 활성화 강조 테두리 selected 클래스 추가 -->
                                    <td class="selected">
                                        <div class="inner">
                                            <span>19</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>5</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>4</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>4</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>15</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>17</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>-2</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- [D] 상위랭크는 best 클래스 추가 -->
                                    <td class="num ">
                                        <div class="inner normal">
                                            <strong>11</strong>


                                        </div>
                                    </td>
                                    <td class="align_l">
                                        <div class="inner">
                                            <span class="name">브렌트포드 FC</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>14</span>
                                        </div>
                                    </td>
                                    <!-- [D] 선택된 카테고리 활성화 강조 테두리 selected 클래스 추가 -->
                                    <td class="selected">
                                        <div class="inner">
                                            <span>16</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>3</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>7</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>4</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>21</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>24</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>-3</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- [D] 상위랭크는 best 클래스 추가 -->
                                    <td class="num ">
                                        <div class="inner normal">
                                            <strong>12</strong>


                                        </div>
                                    </td>
                                    <td class="align_l">
                                        <div class="inner">
                                            <span class="name">리즈 유나이티드 FC</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>13</span>
                                        </div>
                                    </td>
                                    <!-- [D] 선택된 카테고리 활성화 강조 테두리 selected 클래스 추가 -->
                                    <td class="selected">
                                        <div class="inner">
                                            <span>15</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>4</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>3</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>6</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>19</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>22</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>-3</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- [D] 상위랭크는 best 클래스 추가 -->
                                    <td class="num ">
                                        <div class="inner normal">
                                            <strong>13</strong>


                                        </div>
                                    </td>
                                    <td class="align_l">
                                        <div class="inner">
                                            <span class="name">아스톤 빌라 FC</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>14</span>
                                        </div>
                                    </td>
                                    <!-- [D] 선택된 카테고리 활성화 강조 테두리 selected 클래스 추가 -->
                                    <td class="selected">
                                        <div class="inner">
                                            <span>15</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>4</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>3</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>7</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>14</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>21</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>-7</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- [D] 상위랭크는 best 클래스 추가 -->
                                    <td class="num ">
                                        <div class="inner normal">
                                            <strong>14</strong>


                                        </div>
                                    </td>
                                    <td class="align_l">
                                        <div class="inner">
                                            <span class="name">레스터 시티 FC</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>14</span>
                                        </div>
                                    </td>
                                    <!-- [D] 선택된 카테고리 활성화 강조 테두리 selected 클래스 추가 -->
                                    <td class="selected">
                                        <div class="inner">
                                            <span>14</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>4</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>2</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>8</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>23</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>25</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>-2</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- [D] 상위랭크는 best 클래스 추가 -->
                                    <td class="num ">
                                        <div class="inner normal">
                                            <strong>15</strong>


                                        </div>
                                    </td>
                                    <td class="align_l">
                                        <div class="inner">
                                            <span class="name">웨스트햄 유나이티드 FC</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>14</span>
                                        </div>
                                    </td>
                                    <!-- [D] 선택된 카테고리 활성화 강조 테두리 selected 클래스 추가 -->
                                    <td class="selected">
                                        <div class="inner">
                                            <span>14</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>4</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>2</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>8</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>12</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>15</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>-3</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- [D] 상위랭크는 best 클래스 추가 -->
                                    <td class="num ">
                                        <div class="inner normal">
                                            <strong>16</strong>


                                        </div>
                                    </td>
                                    <td class="align_l">
                                        <div class="inner">
                                            <span class="name">에버턴 FC</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>14</span>
                                        </div>
                                    </td>
                                    <!-- [D] 선택된 카테고리 활성화 강조 테두리 selected 클래스 추가 -->
                                    <td class="selected">
                                        <div class="inner">
                                            <span>14</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>3</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>5</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>6</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>11</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>14</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>-3</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- [D] 상위랭크는 best 클래스 추가 -->
                                    <td class="num ">
                                        <div class="inner normal">
                                            <strong>17</strong>


                                        </div>
                                    </td>
                                    <td class="align_l">
                                        <div class="inner">
                                            <span class="name">AFC 본머스</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>14</span>
                                        </div>
                                    </td>
                                    <!-- [D] 선택된 카테고리 활성화 강조 테두리 selected 클래스 추가 -->
                                    <td class="selected">
                                        <div class="inner">
                                            <span>13</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>3</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>4</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>7</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>15</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>32</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>-17</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- [D] 상위랭크는 best 클래스 추가 -->
                                    <td class="num ">
                                        <div class="inner relegation">
                                            <strong>18</strong>

                                            <span class="state_bar4"><span class="blind">강등 직행</span></span>

                                        </div>
                                    </td>
                                    <td class="align_l">
                                        <div class="inner">
                                            <span class="name">사우샘프턴 FC</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>14</span>
                                        </div>
                                    </td>
                                    <!-- [D] 선택된 카테고리 활성화 강조 테두리 selected 클래스 추가 -->
                                    <td class="selected">
                                        <div class="inner">
                                            <span>12</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>3</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>3</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>8</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>12</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>24</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>-12</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- [D] 상위랭크는 best 클래스 추가 -->
                                    <td class="num ">
                                        <div class="inner relegation">
                                            <strong>19</strong>

                                            <span class="state_bar4"><span class="blind">강등 직행</span></span>

                                        </div>
                                    </td>
                                    <td class="align_l">
                                        <div class="inner">
                                            <span class="name">울버햄튼 원더러스 FC</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>14</span>
                                        </div>
                                    </td>
                                    <!-- [D] 선택된 카테고리 활성화 강조 테두리 selected 클래스 추가 -->
                                    <td class="selected">
                                        <div class="inner">
                                            <span>10</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>2</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>4</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>8</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>8</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>22</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>-14</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="last">
                                    <!-- [D] 상위랭크는 best 클래스 추가 -->
                                    <td class="num ">
                                        <div class="inner relegation">
                                            <strong>20</strong>

                                            <span class="state_bar4"><span class="blind">강등 직행</span></span>

                                        </div>
                                    </td>
                                    <td class="align_l">
                                        <div class="inner">
                                            <span class="name">노팅엄 포레스트 FC</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>14</span>
                                        </div>
                                    </td>
                                    <!-- [D] 선택된 카테고리 활성화 강조 테두리 selected 클래스 추가 -->
                                    <td class="selected">
                                        <div class="inner">
                                            <span>10</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>2</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>4</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>8</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>10</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>30</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inner">
                                            <span>-20</span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="circle intro-circle-1"></div>
                        <div class="circle intro-circle-2"></div>
                        <div class="circle intro-circle-3"></div>
                        <div class="circle intro-circle-4"></div>
                    </div>
                    <div class="text-center">
                        <a href="#0" data-page-no="2" class="btn btn-primary tm-intro-btn tm-page-link">
                            -
                        </a>
                    </div>
                </div>
            </li>
            <li data-page-no="2">
                <!-- Image Carousel -->
                <div class="mx-auto position-relative gallery-container">
                    <div class="circle intro-circle-1"></div>
                    <div class="circle intro-circle-2"></div>
                    <div class="mx-auto tm-border-top gallery-slider">
                        <figure class="effect-julia item">
                                <img src="images/602.png" alt="arsenal">
                                <figcaption>
                                    <div>
                                        <p>아스날</p>
                                    </div>
                                    <a href="#">View more</a>
                                </figcaption>
                        </figure>
                        <figure class="effect-julia item">
                            <img src="images/603.png" alt="aston_villa">
                            <figcaption>
                                <div>
                                    <p>아스톤빌라</p>
                                </div>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                        <figure class="effect-julia item">
                            <img src="images/617.png" alt="brentford">
                            <figcaption>
                                <div>
                                    <p>브렌트포트</p>
                                </div>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                        <figure class="effect-julia item">
                            <img src="images/618.png" alt="brighton">
                            <figcaption>
                                <div>
                                    <p>브라이튼</p>
                                </div>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                        <figure class="effect-julia item">
                            <img src="images/622.png" alt="burnley">
                            <figcaption>
                                <div>
                                    <p>번리</p>
                                </div>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                        <figure class="effect-julia item">
                            <img src="images/630.png" alt="chelsea">
                            <figcaption>
                                <div>
                                    <p>첼시</p>
                                </div>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                        <figure class="effect-julia item">
                            <img src="images/642.png" alt="crystal_palace">
                            <figcaption>
                                <div>
                                    <p>크리스탈 팰리스</p>
                                </div>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                        <figure class="effect-julia item">
                            <img src="images/650.png" alt="everton">
                            <figcaption>
                                <div>
                                    <p>에버튼</p>
                                </div>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                        <figure class="effect-julia item">
                            <img src="images/671.png" alt="Image">
                            <figcaption>
                                <div>
                                    <p>리즈</p>
                                </div>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </li>
            <li data-page-no="4">
                <div class="mx-auto page-width-2">
                    <div class="row">
                        <div class="col-md-6 me-0 ms-auto">
                            <h2 class="mb-4">Contact Us</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 tm-contact-left">
                            <form action="#" method="POST" class="contact-form">
                                <div class="input-group tm-mb-30">
                                    <input name="name" type="text" class="form-control rounded-0 border-top-0 border-end-0 border-start-0" placeholder="Name">
                                </div>
                                <div class="input-group tm-mb-30">
                                    <input name="email" type="text" class="form-control rounded-0 border-top-0 border-end-0 border-start-0" placeholder="Email">
                                </div>
                                <div class="input-group tm-mb-30">
                                    <textarea rows="5" name="message" class="textarea form-control rounded-0 border-top-0 border-end-0 border-start-0" placeholder="Message"></textarea>
                                </div>
                                <div class="input-group justify-content-end">
                                    <input type="submit" class="btn btn-primary tm-btn-pad-2" value="Send">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 tm-contact-right">
                            <p class="mb-4">
                                ?
                            </p>
                            <div>
                                Email: <a href="mailto:tlahsh123@gmail.com" class="tm-link-white">tlahsh123@gmail.com</a>
                            </div>
                            <div class="tm-mb-45">
                                Tel: <a href="tel:0100200340" class="tm-link-white">010-7709-3700</a>
                            </div>
                            <!-- Map -->
                            <div class="map-outer">
                                <div class="gmap-canvas">
                                    <iframe width="100%" height="400" id="gmap-canvas"
                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d202407.5991656401!2d126.83400122669927!3d37.56404550399423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca2012d5c39cf%3A0x7e11eca1405bf29b!2z7ISc7Jq47Yq567OE7Iuc!5e0!3m2!1sko!2skr!4v1662282754466!5m2!1sko!2skr"
                                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <footer class="row mx-auto tm-footer">
            <!--<div class="col-md-6 px-0">
                Copyright 2021 Astro Motion Company Limited. All rights reserved.
            </div>
            <div class="col-md-6 px-0 tm-footer-right">
                Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank" class="tm-link-white">TemplateMo</a>
            </div>-->
        </footer>
    </div>
</div>




<!--<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
            {{/userName}}
        </div>
    </div>
    <br>
    &lt;!&ndash; 목록 출력 영역 &ndash;&gt;
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>-->
{{>layout/footer}}